<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bysjm.mapper.UserMapper">

    <select id="findById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>


    <resultMap id="userMap" type="user">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="birthday" property="birthday"></result>
        <result column="sex" property="sex"></result>
        <result column="address" property="address"></result>
        <collection property="orderList" column="id" ofType="order" select="cn.bysjm.mapper.OrderMapper.findByUid"></collection>
    </resultMap>
    <select id="findAllWithOrder" resultMap="userMap">
        select * from user where id = #{id}
    </select>

    <resultMap id="userAndRoleMap" type="user">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="birthday" property="birthday"></result>
        <result column="sex" property="sex"></result>
        <result column="address" property="address"></result>
        <collection property="roleList" ofType="role" column="id" select="cn.bysjm.mapper.OrderMapper.findByUid"></collection>
    </resultMap>
    <select id="findAllWithRole" resultMap="userAndRoleMap">
        SELECT * FROM `user` where id = #{id}
    </select>

</mapper>